<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I've committed to raising $4,000.00 for cancer research by riding in the 2025 Pan-Mass Challenge. On the first weekend in August, I will join thousands of cyclists in the PMC, an annual bike-a-thon that raises money for research and care at Dana-Farber Cancer Institute (DFCI) in Boston.</p>
        <p>I hope I can count on your support</p>
        <p>The PMC raises more money for charity than any other single event in the country - more than $1 billion since 1980 and a record $75 million in 2024 alone! This success is the result of a lot of people riding for and caring about a cure. And because every dollar matters, 100 percent of your donation goes to Dana-Farber.</p>
      </div>
      <div class="col-lg-4">
        <p>I've made a personal commitment to ride and raise $4,000.00, so I hope you can help me achieve this significant goal, which is part of the PMC's 2025 fundraising.</p>
        <p>PMC donations are tax deductible and 100% will go to Dana-Farber Cancer Institute. The PMC's tax ID / EIN is 04-2746912.</p>
        <p>The Pan-Mass Challenge only uses your personal information to thank you and will not share it with any other organizations.</p>
      </div>

      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
