<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><img src="img/pmc-original.jpg" style="max-width: 100%; margin: 1em 0 2em;"/></div>

      <div class="col-lg-4 col-lg-offset-2">
        <p>On August 2nd, I'll ride the 1-day PMC route from Wellesley to Bourne, MA, joined by almost 7,000 other riders.</p>
        <p><strong>I am grateful to honor my dad's journey by riding the PMC, alongside my mom.</strong></p>
        <p>The Pan-Mass Challenge has raised over $1 BILLION for the Dana-Farber Cancer Institute, with <strong>100% of every rider-raised dollar going directly to fund cancer research</strong>. Thanks to DFCI, my dad's cancer prognosis was extended from months to years, enabling him to ride in 2011.</p>
        <p>Considering those who battled cancer or are still striving for a healthy outcome, let's make a difference.</p>
      </div>
      <div class="col-lg-4">
        <p>Please join me in my personal commitment to raise $4,000 this year, supporting cancer patients and their families. Your generosity will contribute to funding research for a cure and developing a supportive community.</p>
        <p>I would be proud to ride in honor of or in memory of your loved one affected by cancer.</p>
        <p style="font-size: 1em;">PMC donations are tax deductible and 100% will go to Dana-Farber Cancer Institute. The PMC's tax ID / EIN is 04-2746912.</p>
        <!-- <p>I've committed to raising $4,000.00 for cancer research by riding in the 2025 Pan-Mass Challenge. On the first weekend in August, I will join thousands of cyclists in the PMC, an annual bike-a-thon that raises money for research and care at Dana-Farber Cancer Institute (DFCI) in Boston.</p>
        <p>I hope I can count on your support</p>
        <p>The PMC raises more money for charity than any other single event in the country - more than $1 billion since 1980 and a record $75 million in 2024 alone! This success is the result of a lot of people riding for and caring about a cure. And because every dollar matters, 100 percent of your donation goes to Dana-Farber.</p> -->
      </div>

      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
