<!-- CTA Section -->
<section id="cta">
  <div class="container">
    <div class="col-md-6" style="margin-bottom: 6em">
      <div class="col-lg-12 text-center">
        <h2>Donate</h2>
        <hr class="star-primary" />
      </div>
      <div class="text-center">
        <a href="https://profile.pmc.org/ed0074"
          ><button type="submit" class="btn btn-primary btn-lg">
            pmc.org/ed0074
          </button></a
        >
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-lg-12 text-center">
        <h2>Raffle</h2>
        <hr class="star-primary" />
      </div>
      <div>
        <h3>Entry</h3>
        <p>
          <strong>1 entry for every $20 donated to my PMC 2025 fundraising.</strong>
          If you already donated, you're already entered.
        </p>
        <h3>Drawing date</h3>
        <p><s>Saturday, August 17th at 3pm ET</s></p>
        <p><strong>Saturday, August 25th at 9pm ET</strong></p>
        <p>
          Donations are accepted until October 1st, but only those donations
          before the drawing date will get raffle entries.
        </p>
        <h3>Prizes</h3>
        <ul class="list-inline item-detail">
            {% for post in site.posts %}
                {% if post.prize %}
                    <li class="col-xs-12 col-md-12 col-lg-6 portfolio-flex-item portfolio-item prize-container" 
                        >
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <p class="prize-text">{{ post.prize }}</p>
                        <div class="prize-image" style="background-image: url('img/sponsors/{{ post.img }}');" ></div>
                        <!-- <img src="img/sponsors/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}"> -->
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
