<!-- fundraising Grid Section -->
<section id="fundraising">
  <div class="container fundraising-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sponsors</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="fundraising-flex-row">
      Become a sponsor...
      <!-- {% for post in site.posts %}
      <div class="fundraising-flex-item fundraising-item">
        <a href="#fundraisingModal-{{ post.modal-id }}" class="fundraising-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/fundraising/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %} -->
    </div>
  </div>
</section>
