<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/sponsors/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description | markdownify }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>
                {% if post.web-address %}
                <a href="{{ post.web-address }}"><strong>{{ post.client }}</strong></a>
                {% else %}
                <strong>{{ post.client }}</strong>
                {% endif %}
              </li>
              {% endif %}
              {% if post.cta-label %}
              <li><a href="{{ post.cta-address }}">{{ post.cta-label }}</a></li>
              {% endif %}
            </ul>
            {% if post.instagram-address %}
            <ul class="list-inline item-detail">
              <li>
                <a href="{{ post.instagram-address }}">
                  <img src="img/ig.png" style="height: 1em; width: 1em; margin-bottom: 0; margin-right: 0.5em;" alt="instagram" />
                  @{{ post.instagram-label }}
                </a>
              </li>
            </ul>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
